<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.pkompoultrymanager">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PKOMPoultryManager"
        tools:targetApi="31">
        <activity
            android:name=".reports.income_expenses.IncomeAndExpenses"
            android:exported="false"
            android:theme="@style/Theme.PKOMPoultryManager.NoActionBar" />
        <activity
            android:name=".reports.flock_inventory.FlockInventoryReport"
            android:exported="false"
            android:theme="@style/Theme.PKOMPoultryManager.NoActionBar" />
        <activity
            android:name=".reports.feed_inventory.FeedInventoryReport"
            android:exported="false"
            android:theme="@style/Theme.PKOMPoultryManager.NoActionBar" />
        <activity
            android:name=".reports.egg_inventory.EggInventoryReport"
            android:exported="false"
            android:theme="@style/Theme.PKOMPoultryManager.NoActionBar" />
        <activity
            android:name=".reports.ReportActivity"
            android:exported="false"
            android:theme="@style/Theme.PKOMPoultryManager.NoActionBar" />
        <activity
            android:name=".reminder.ReminderActivity"
            android:exported="false"
            android:theme="@style/Theme.PKOMPoultryManager.NoActionBar" />
        <activity
            android:name=".tables.TablesActivity"
            android:exported="false"
            android:theme="@style/Theme.PKOMPoultryManager.NoActionBar" />
        <activity
            android:name=".transactions.cash_out.CashOutActivity"
            android:exported="false"
            android:theme="@style/Theme.PKOMPoultryManager.NoActionBar" />
        <activity
            android:name=".transactions.cash_in.CashInActivity"
            android:exported="false"
            android:theme="@style/Theme.PKOMPoultryManager.NoActionBar" />
        <activity
            android:name=".transactions.TransactionActivity"
            android:exported="false"
            android:theme="@style/Theme.PKOMPoultryManager.NoActionBar" />
        <activity
            android:name=".inventory.feed.FeedActivity"
            android:exported="false"
            android:theme="@style/Theme.PKOMPoultryManager.NoActionBar" />
        <activity
            android:name=".inventory.eggs.EggsActivity"
            android:exported="false"
            android:theme="@style/Theme.PKOMPoultryManager.NoActionBar" />
        <activity
            android:name=".inventory.flock.FlockActivity"
            android:exported="false"
            android:theme="@style/Theme.PKOMPoultryManager.NoActionBar" />
        <activity
            android:name=".inventory.InventoryActivity"
            android:exported="false"
            android:theme="@style/Theme.PKOMPoultryManager.NoActionBar" />
        <activity
            android:name=".health.HealthActivity"
            android:exported="false"
            android:theme="@style/Theme.PKOMPoultryManager.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.PKOMPoultryManager.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".reminder.AlarmReceiver"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>